{% extends "base.html" %}
{% block title %}Change Password{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/forms.css" %}{% endblock %}

{% block content %}
    <form action="." method="post" class="account">{% csrf_token %}
        {% if form.errors %}
            <p class="errornote">Wrong! Please correct error(s) below.</p>
        {% endif %}

        <fieldset class="aligned">
            <div class="form-row">
                {{ form.old_password.label_tag }} {{ form.old_password }}
            </div>
            <div class="form-row">
                {{ form.new_password1.label_tag }} {{ form.new_password1 }}
            </div>
            <div class="form-row">
                {{ form.new_password2.label_tag }} {{ form.new_password2 }}
            </div>
        </fieldset>
        <div class="submit-row">
            <input type="submit" value="CHANGE">
        </div>
    </form>

    <script type="text/javascript">
        document.getElementById('id_old_password').focus();
    </script>
{% endblock %}