{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/forms.css" %}{% endblock %}

{% block content %}
    <form action="." method="post" class="account">
        {% csrf_token %}
        {% if form.errors %}
            <p class="errornote">Wrong! Please correct error(s) below.</p>
        {% endif %}

        <div class="form-row">
            {{ form.username.label_tag }} {{ form.username }}
        </div>
        <div class="form-row">
            {{ form.password1.label_tag }} {{ form.password1 }}
        </div>
        <div class="form-row">
            {{ form.password2.label_tag }} {{ form.password2 }}
        </div>
        <div class="submit-row">
            <input type="submit" value="REGISTER">
            <input type="hidden" name="next" value="{{ next }}">
        </div>
    </form>

    <script type="text/javascript">
        document.getElementById('id_username').focus();
    </script>
{% endblock %}