.account label {
  width: 15%;
  display: inline-block;
}

input, .btn {
  width: 40%;
  border: 1px solid #F74740;
  padding: 10px 15px;
  margin-top: 10px;
}
.btn { 
  display: block;
  text-align: center;
  color: #000;
}

.account input[type="submit"] {
  background-color: #fff;
  margin-left: 15%;
  cursor: pointer;
}
.btn:hover,
.account input[type="submit"]:hover {
  animation: ani-bg 2s infinite;
}

.logout {
  display: block;
  text-align: center;
  color: #000;
}